<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="layout" xmlns:th="http://www.thymeleaf.org">
       
    </head>
    <body>
        <div>Perfil
        <p>Nombre : <span th:text="${session.usuario.username}"></span></p>
        <p>Profesion : <span th:text="${session.usuario.Profesion}"></span></p>
        <img th:src="@{/foto/usuario(idUsuario=${session.usuario.id})}" alt="foto de perfil"/>
            </div>
       </body>
</html>
