<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
         <link rel="stylesheet"
      type="text/css"
      href="https://github.com/Martinserrano724/cssTratoHecho/blob/206da536c7ab994d3ad130f1f8eaa024d93a2918/proyecto-final-html5/registro/registro.css"
/>
       
    </head>
    <body>
  <section class="form-register">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <input class="controls" type="tel" name="telefono" id="telefono" placeholder="Ingrese su telefono" maxlength="10" >
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="domicilio" name="domicilio" id="domicilio" placeholder="Ingrese su Domicilio">
    <input class="controls" type="CodigoPostal" name="CodigoPostal" id="CodigoPostal" placeholder="Ingrese su Codigo Postal" maxlength="4">
    
    
    <div class="contenedorProfecion">
    Soy
    <select class="tipoUsuario" name="tipoUsuario">
      <option>Trabajador</option>
      <option selected>Cliente</option>
    </select>

    </div>
    <div class="contenedorProfecion">
    Profesion
    <select class="tipoUsuario" name="tipoUsuario">
      <option>Herrero</option>
      <option >Electricista</option>
      <option >Carpintero</option>
      <option >Pintor</option>
      <option >Programador</option>
      <option selected>Cliente</option>
    </select>
  </div>
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">

    <input class="botons" type="submit" value="Registrar">
    
    <p><a href="#">¿Ya tengo Cuenta?</a></p>
  </section>



</body>
</html>
