<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
      type="text/css"
      href="https://github.com/Martinserrano724/cssTratoHecho/blob/206da536c7ab994d3ad130f1f8eaa024d93a2918/proyecto-final-html5/inicio/inicio.css"
/>
        
    </head>
    <body>
       
  <section class="form-incio">
    <h4>Ingreso</h4>

    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">

    <input class="botons" type="submit" value="iniciar">
    <p><a href="/registro/registro.html">no tienes cuenta registrate</a></p>
  </section>

</body>
    
</html>
