<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <span th:if="${error != null}" th:text="${error}" style="color: red;"></span>
        <form th:action="@{/registro/save}" method="POST">
            <p>elija nombre de usuario</p>
            <input type="text" name="username" placeholder="nombre"/><br>
            <p>Ingrese una contraseña</p>
            <input type="password" name="password"/><br>
            <p>Ingrese la misma contraseña</p>
            <input type="password" name="password2"/><br>
            <select  name="rol">
                <option th:value="'CLIENTE'" th:text="CLIENTE"></option>
                <option th:value="'TRABAJADOR'" th:text="TRABAJADOR"></option>

                <input type="submit" name="Registrar"/>
        </form>
    </body>
</html>
