<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>



        <span th:if="${error != null}" th:text="${error}" style="color: red;"></span>
        <form action="index.php" method="post">

            <select id="rol" name="rol" onChange="mostrar(this.value);">
                <option value="CLIENTE" >CLIENTE</option>
                <option value="TRABAJADOR">TRABAJADOR</option>

            </select>
        </form>

        <div id="CLIENTE" class="element" style="display: none;">
            <h2>FORMULARIO CLIENTE</h2>
            <form action="/registro/registrar" method="POST" enctype="multipart/form-data">
                <p>elija nombre de usuario</p>
                <input type="text" name="username" placeholder="nombre de usuario"><br>
                <p>Ingrese una contraseña</p>
                <input type="password" name="password"><br>
                <p>Ingrese la misma contraseña</p>
                <input type="password" name="password2"><br>
                <input hidden name="rol" value="CLIENTE">
                <p> Correo Electronico </p>
                <input type="email" name="email" ><br>
                    <p> Numero De telefono </p>
                 <input type="tel" id="phone" name="telefono"
                pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                required><br>
                <input hidden name="profesion" value="cliente" ><br>
                <p>Foto<p/>
                <input type="file" name="archivo"><br>
                <input type="submit" name="registrar">
            </form>
        </div>  


        <div id="TRABAJADOR" class="element" style="display: none;">
            <h2>FORMULARIO TRABAJADOR</h2>
            <form action="/registro/registrar" method="POST" enctype="multipart/form-data">
                <p>elija nombre de usuario</p>
                <input type="text" name="username" placeholder="nombre"><br>
                <p>Ingrese una contraseña</p>
                <input type="password" name="password"><br>
                <p>Ingrese la misma contraseña</p>
                <input type="password" name="password2"><br>
                 <input hidden name="rol" value="TRABAJADOR">
                  <p> Correo Electronico </p>
                <input type="email" name="email" ><br>
                 <p> Numero De telefono </p>
                <input type="tel" id="phone" name="telefono"
                pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                required><br>
                 <p> Profesion </p>
                <input type="text" name="profesion" ><br>
                <p>Foto<p/>
                <input type="file" name="archivo"><br>

                <input type="submit" name="Registrar" >
            </form>

            <!--  <option th:value="'CLIENTE'" th:text="CLIENTE"></option>
                <option th:value="'TRABAJADOR'" th:text="TRABAJADOR"></option>>-->
        </div>

        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
       
        <script type="text/javascript">
            function mostrar(id) {
            if (id == "CLIENTE") {
            $("#CLIENTE").show();
            $("#TRABAJADOR").hide();
            }

            if (id == "TRABAJADOR") {
            $("#CLIENTE").hide();
            $("#TRABAJADOR").show();
            }
            }
        </script>
    </body>
</html>
